@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color: #ffffff);
    padding: 2rem;
}

.container {
    width: 80vw;
    margin: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 5vh;
}

.leftbox {
    display: flex;
    align-items: center;
}

.leftbox img {
    width: 4rem;
    height: 4rem;
}

.leftbox span {
    font-weight: bold;
    color: var(--text-color);
    font-size: 1.5rem;
}

.middlebox {
    display: flex;
    gap: 2vw;
}

.nav_link {
    list-style-type: none;
    font-weight: 600;
    font-size: 1.125rem;
    transform: color 0.1s;
    color: #718096;
}

.nav_link:hover {
    color: var(--link-color);
}

.contact_button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact_button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    background: var(--background-color);
}

.menu-icon {
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width:860px) {
    .middlebox {
        display: none;
    }

    .rightbox {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

.main-secton {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 0.6rem 1rem 0.6rem;
}

.content-left {
    animation: SlideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes SlideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.section-label {
    font-size: 1.15em;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title {
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-desc {
    font-size: 1.13rem;
    color: var(--gray);
}

.button-group {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.start-button:hover {
    background-color: #5254f8;
}

.tour-button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button:hover {
    background-color: var(--gray);
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .main-secton {
        flex-direction: row;
    }

    .content-left {
        padding-top: 15vh;
        text-align: left;
    }

    .section-title {
        padding-left: 0;
    }

    .button-group {
        justify-content: start;
        padding-left: 0;
    }

    .section-label {
        font-size: 1rem;
    }

    .section-title {
        font-size: 3.8rem;
    }

    .section-image {
        height: 67vh;
        box-shadow: 6px 6px 20px 0px #333333;
        border: none;
        border-radius: 15px;
    }

    .section-desc {
        font-size: 1.1rem;
        width: 70%;
        color: var(--gray);
    }
}

.company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-container {
    animation: SlideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes SlideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.company-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 1rem;
}

@media screen and (min-width: 640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .company-title {
        font-size: 2rem;
        font-weight: bold;
    }
}

.company-logo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    padding: 0rem 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-image {
    height: 32px;
    color: var(--gray);
}

.logo-name {
    font-size: 1rem;
}

.feature-container {
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.feature-content {
    width: 45vw;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.top-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title {
    font-size: 2rem;
    font-weight: 800;
}

.feature-desc {
    font-size: 0.95rem;
    color: var(--gray);
}

.feature-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    margin: auto;
    padding: 2rem 1rem;
    border: none;
    border-radius: 10px;
}

.card-1 {
    background-color: #3978D4;
}

.card-2 {
    background-color: #FD4C73;
}

.card-3 {
    background-color: #FBAE4B;
}

.card-4 {
    background-color: #33adb0;
}

.card-5 {
    background-color: #4e7f3d;
}

.card-6 {
    background-color: #534F7E;
}

.feature-img img {
    height: 30px;
    background-color: #ffffff;
    padding: 0.3rem;
    /* overflow: hidden; */
    border-radius: 40px;
}

.feature-head {
    font-size: 1.01rem;
    font-weight: 700;
    padding: 0.5rem;
    color: var(--background-color);
}

.feature-descp {
    font-size: 1rem;
    color: var(--background-color);
}

@media screen and (max-width:768px) {
    .feature-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0 1rem;
    }

    .card {
        width: 80vw;
    }
}

.testimonial-container {
    background-color: var(--background-color);
    padding: 2rem;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial-head {
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 330px));
    gap: 2rem;
    justify-content: center;
}


.testimonial-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(152, 144, 144);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid blue;
}

.testimonial-para {
    color: #555;
    font-size: 0.875rem;
}

.testimonial-image {
    width: 5rem;
    height: 5rem;
}

.testimonial-name {
    font-weight: 800;
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonial-desc {
    font-size: 0.875rem;
    color: #777;
}

.newsletter-container {
    background-color: var(--background-color);
    padding: 2rem;
    width: 70%;
    margin: auto;
    height: 40vh;
}

.newsletter {
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.newsletter-image {
    display: block;
    height: 100%;
    width: 50%;
}

.news-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    padding: 2rem;
    justify-content: center;
}

.newsletter-title {
    color: var(--primary-color);
    font-size: 2.8rem;
    font-weight: 700;
}

.title-footer {
    color: rgb(133, 133, 133);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    gap: 1rem;
}

.input-email {
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.input-email:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.send-button {
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.send-button:hover {
    background-color: var(--link-color);
}

.newsletter-para {
    color: var(--gray);
    font-weight: 600;
    text-align: start;
    margin-top: 0.5rem;

    a {
        color: var(--link-color);
        text-decoration: underline;
    }
}

@media screen and (max-width:640px) {
    .newsletter-image {
        display: none;
    }

    .newsletter-title {
        font-size: 2rem;
        text-align: left;
    }

    .title-footer {
        font-size: 1rem;
    }
}

.footer-container {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.footer {
    max-width: 1280px;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

.comp-logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

.logo-link {
    text-align: start;
    display: flex;
    align-items: center;
}

.logo-link span {
    font-weight: bold;
    color: var(--text-color);
    font-size: 1.5rem;
}

.comp-logo p {
    padding-top: 0.5rem;
    color: var(--gray);
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
}

.social {
    display: flex;
    gap: 0.7rem;
}

.social-icon {
    color: var(--gray);
    width: 1.5rem;
    height: 1.5rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 1rem;
}

.footer-grid-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-grid-head {
    font-size: 1rem;
    font-weight: 900;
    color: var(--text-color);
}

.footer-links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-link {
    color: var(--gray);
}

.copyright {
    color: var(--gray);
    font-size: 0.8rem;
    padding: 2rem;
    border-top: 1px solid var(--gray);
    margin-top: 1.2rem;
}

@media screen and (max-width:1080px) {

    .footer {
        flex-direction: column;
        align-items: center;
    }
    .comp-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-top {
        align-items: center;
    }

    .footer-grid{
        margin-top: 1.5rem;
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:720px) {

    .footer-grid{
        padding-top: 2rem;
        grid-template-columns: repeat(2,1fr);
    }
}
